.container{
    width: 200vh;
    margin: 10px;
    padding: 6px;
    border: solid;
    border-color: black;
}
.purprec{
    height: 70px;
    width: 30px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: purple;
    display: inline-block;
}
.greensq{
    height: 100px;
    width: 200px;
    margin-right: 20px;
    background-color: rgb(0, 128, 0);
    display: inline-block;

}
.bluecir{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: lightblue;
    display: inline-block;
}
.borderyell{
    width: 203vh;
    height: 200px;
    margin: 10px;
    border: 4px dotted black;
}
.yellowrec{
    height: 42vh;
    width: 172vh;
    margin: 40px;
    background-color: rgb(221, 180, 105);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
h1{
    height: 45vh;
    width: 100vh;
    margin: 10px 0 0 150px ;
    padding-top: 19vh;
    text-align: center;
    border: 1px solid black;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
    color: blue;
    letter-spacing: 5px;
}